<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenjie.impl.dao.mapper.AnjukeMapper">
	<insert id="batchInsert">
		INSERT INTO `tbl_anjule_loupan_record`(
			`name`, 
			`alias`,
			`lpType`, 
			`sale`, 
			`desc`, 
			`price`, 
			`openTime`, 
			`checkTime`, 
			`address`
		) VALUES
		<foreach collection="loupans" item="loupan" 
			separator=",">
		(
			#{loupan.name},
			#{loupan.alias},
			#{loupan.lpType},
			#{loupan.sale},
			#{loupan.desc},
			#{loupan.price},
			#{loupan.openTime},
			#{loupan.checkTime},
			#{loupan.address}
		)
		</foreach>
	</insert>
</mapper>